In [4]:
import pymongo

In [5]:
from pymongo import MongoClient

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

new_db = myclient["mydatabase"]

In [6]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [30]:
col = new_db["cars"]

new_dict = {'name': 'Audi', 'price': 52642}

x = col.insert_one(new_dict)

#Check if the collection exists
print(new_db.list_collection_names())

['cars']

In [31]:
my_list = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

x = col.insert_many(my_list)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5d93b3b2cc9ec824ed1bfe9d'), ObjectId('5d93b3b2cc9ec824ed1bfe9e'), ObjectId('5d93b3b2cc9ec824ed1bfe9f'), ObjectId('5d93b3b2cc9ec824ed1bfea0'), ObjectId('5d93b3b2cc9ec824ed1bfea1'), ObjectId('5d93b3b2cc9ec824ed1bfea2'), ObjectId('5d93b3b2cc9ec824ed1bfea3'), ObjectId('5d93b3b2cc9ec824ed1bfea4')]

In [9]:
new_db = myclient["mydatabase"]
col    = new_db["cars"]

x = col.find_one()

print(x)

{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}

In [10]:
col = new_db["cars"]

for x in col.find():
    print(x)

{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afafcc9ec824ed1bfe89'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afc9cc9ec824ed1bfe8a'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8b'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8c'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8d'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8e'), 'name': 'Volvo', 'price': 29000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8f'), 'name': 'Bentley', 'price': 350000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe90'), 'name': 'Citroen', 'price': 21000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe91'), 'name': 'Hummer', 'price': 41400}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe92'), 'name': 'Volkswagen', 'price': 21600}

In [11]:
# Queries
query1 = {"price" : 52642}
new_doc = col.find(query1)
for x in new_doc:
    print(x)

{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afafcc9ec824ed1bfe89'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afc9cc9ec824ed1bfe8a'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8b'), 'name': 'Audi', 'price': 52642}

In [15]:
# Regular expression
query2 = {"name": { "$gt": "A" }}

doc2 = col.find(query2)

for x in doc2:
    print(x)

{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afafcc9ec824ed1bfe89'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afc9cc9ec824ed1bfe8a'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8b'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8c'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8d'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8e'), 'name': 'Volvo', 'price': 29000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8f'), 'name': 'Bentley', 'price': 350000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe90'), 'name': 'Citroen', 'price': 21000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe91'), 'name': 'Hummer', 'price': 41400}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe92'), 'name': 'Volkswagen', 'price': 21600}

In [18]:
col = new_db["cars"]

query3 = {"name": {"$regex": "^E"}}

doc3 = col.find(query3)

for x in doc3:
    print(x)

In [19]:
new_doc = col.find().sort("name")

for x in new_doc:
    print(x)

{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afafcc9ec824ed1bfe89'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afc9cc9ec824ed1bfe8a'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8b'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8f'), 'name': 'Bentley', 'price': 350000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe90'), 'name': 'Citroen', 'price': 21000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe91'), 'name': 'Hummer', 'price': 41400}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8c'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8d'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe92'), 'name': 'Volkswagen', 'price': 21600}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8e'), 'name': 'Volvo', 'price': 29000}

In [20]:
new_doc = col.find().sort("name", -1)

for x in new_doc:
    print(x)

{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8e'), 'name': 'Volvo', 'price': 29000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe92'), 'name': 'Volkswagen', 'price': 21600}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8d'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8c'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe91'), 'name': 'Hummer', 'price': 41400}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe90'), 'name': 'Citroen', 'price': 21000}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8f'), 'name': 'Bentley', 'price': 350000}
{'_id': ObjectId('5d93af7ecc9ec824ed1bfe88'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afafcc9ec824ed1bfe89'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93afc9cc9ec824ed1bfe8a'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93aff1cc9ec824ed1bfe8b'), 'name': 'Audi', 'price': 52642}

In [21]:
query = { "name": "Volvo" }

col.delete_one(query)

In [22]:
query = { "name": {"$regex": "^V"} }

x = col.delete_many(query)

print(x.deleted_count, " documents deleted.")

1  documents deleted.

In [27]:
new_db = myclient["mydatabase"]
col = new_db["cars"]

col.drop()

In [7]:
col = new_db["cars"]

query = { "price": 9000 }
newvalues = { "$set": { "address": 9800 } }

col.update_one(query, newvalues)

#print "customers" after the update:
for x in col.find():
    print(x)

{'_id': ObjectId('5d93b3afcc9ec824ed1bfe9c'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9d'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9e'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9f'), 'name': 'Skoda', 'price': 9000, 'address': 9800}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea0'), 'name': 'Volvo', 'price': 29000}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea1'), 'name': 'Bentley', 'price': 350000}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea2'), 'name': 'Citroen', 'price': 21000}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea3'), 'name': 'Hummer', 'price': 41400}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea4'), 'name': 'Volkswagen', 'price': 21600}

In [8]:
col = new_db["cars"]

result = col.find().limit(5)

#print the result:
for x in result:
    print(x)

{'_id': ObjectId('5d93b3afcc9ec824ed1bfe9c'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9d'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9e'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfe9f'), 'name': 'Skoda', 'price': 9000, 'address': 9800}
{'_id': ObjectId('5d93b3b2cc9ec824ed1bfea0'), 'name': 'Volvo', 'price': 29000}

In [9]:
print(new_db.collection_names())
status = new_db.command('dbstats')
print(status)

['cars']
{'db': 'mydatabase', 'collections': 1, 'views': 0, 'objects': 9, 'avgObjSize': 51.666666666666664, 'dataSize': 465.0, 'storageSize': 20480.0, 'numExtents': 0, 'indexes': 1, 'indexSize': 20480.0, 'scaleFactor': 1.0, 'fsUsedSize': 129935699968.0, 'fsTotalSize': 254579974144.0, 'ok': 1.0}

C:\Apps\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

In [ ]:
agr = [{'$match': {'$or':[{'name':'Audi'}, {'name':'Volvo'}]}},
       
      ]