In [8]:
import pyodbc 
import pandas as pd
from datetime import datetime

In [9]:
conn_data = pd.read_csv('conn.csv')

In [10]:
server   = conn_data['server'][0]
database = conn_data['database'][0]
username = conn_data['username'][0]
password = conn_data['password'][0]
cnxn     = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [11]:
# Autocommiting cursor
cursor = cnxn.cursor()
# cnxn.autocommit = True

In [43]:
# Selecting today 
today = '2014-08-14'
ts    = datetime.strptime(today, '%Y-%m-%d')
ts

datetime.datetime(2014, 8, 14, 0, 0)

In [ ]:
# query = """
#         SELECT TOP 10 *
#         FROM logins
#         WHERE tmstmp >= ?
        
#         """

In [67]:
# query = """         
#             SELECT userid, COUNT(distinct cast(tmstmp as DATE)) AS login_7d, ? AS date_7d
#             INTO logins_7d
#             FROM logins
#             WHERE tmstmp > dateadd(day, -7, ?)
#             GROUP BY userid;        
#         """
# cursor.execute(query, (ts, ts))
# cursor.commit()

In [1]:
# query = 'SELECT TOP 5 * FROM logins_7d'
# cursor.execute(query)
# for record in cursor:
#     print("{}, {}, {}".format(record[1], record[0], record[2]))

## Pipeline

In [ ]:
# query1 = """
#             SELECT X.userid
#                   ,X.tmstmp as reg_date
#             FROM registrations X

#         """

# query2 = """
#             WITH logins_rank AS(
#                 SELECT 
#                      B.userid
#                     ,B.tmstmp as last_login
#                     ,row_number() over(partition by B.userid order by tmstmp desc) as row_num
#                 FROM logins B           
#             ) SELECT Y.userid, Y.last_login 
#               FROM logins_rank Y
#               WHERE Y.row_num = 1 
#         """

# query3 = """         
#             SELECT  A.userid,
#                     A.tmstmp,
#                     (SELECT COUNT(DISTINCT cast(B.tmstmp as Date))
#                     FROM [socialmedia].[dbo].[logins] B
#                     WHERE A.userid = B.userid
#                     AND B.tmstmp BETWEEN DATEADD(day,-7, A.tmstmp) AND A.tmstmp) as logins_7d,
#                     (SELECT COUNT(DISTINCT cast(C.tmstmp as Date))
#                     FROM [socialmedia].[dbo].[logins] C
#                     WHERE A.userid = C.userid
#                     AND C.tmstmp BETWEEN DATEADD(day,-7, A.tmstmp) 
#                     AND A.tmstmp AND C.[type] = 'mobile') as logins_7d_mobile,
#                     (SELECT COUNT(DISTINCT cast(D.tmstmp as Date))
#                     FROM [socialmedia].[dbo].[logins] D
#                     WHERE A.userid = D.userid
#                     AND D.tmstmp BETWEEN DATEADD(day,-7, A.tmstmp) 
#                     AND A.tmstmp AND D.[type] = 'web') as logins_7d_web  
#             FROM [socialmedia].[dbo].[logins] A

In [12]:
today = '2014-08-14'
ts    = datetime.strptime(today, '%Y-%m-%d').date()
ts

datetime.date(2014, 8, 14)

In [14]:
# Selecting today 
today = '2014-08-14'
ts    = datetime.strptime(today, '%Y-%m-%d')

# Get last login from today
query2 = """    SELECT 
                     userid
                    ,tmstmp AS last_login
                    ,ROW_NUMBER() OVER(PARTITION BY userid
                                       ORDER BY tmstmp desc) AS row_num
                FROM logins     
                WHERE DATEDIFF(DAY, tmstmp, ?) < 7   
        """
# Get count of logins in past 7 days from today
query3 = """ SELECT userid, COUNT(distinct cast(tmstmp as DATE)) AS login_7d
             FROM logins
             WHERE tmstmp > dateadd(day, -7, ?)
             GROUP BY userid """

# Get count of logins in past 7 days from today
query4 = """ SELECT userid, COUNT(distinct cast(tmstmp as DATE)) AS login_7d_mobile
             FROM logins
             WHERE tmstmp > dateadd(day, -7, ?)
             AND [type] = 'mobile'
             GROUP BY userid """

query5 = """ SELECT userid, COUNT(distinct cast(tmstmp as DATE)) AS login_7d_web
             FROM logins
             WHERE tmstmp > dateadd(day, -7, ?)
             AND [type] = 'web'
             GROUP BY userid """

query_temp = 'WITH logins_rank AS (' + query2 + '), '
query_temp = query_temp + 'logins_day AS (' + query3 + '), '
query_temp = query_temp + 'logins_mobile AS (' + query4 + '), '
query_temp = query_temp + 'logins_web AS (' + query5 + ') '

query_join = """
                SELECT  A.userid,
                        F.tmstmp as reg_date,
                        D. last_login,
                        A.login_7d,
                        B.login_7d_mobile,
                        C.login_7d_web,
                        CASE
                            WHEN A.userid in (SELECT DISTINCT userid FROM optout) THEN 1
                            ELSE 0
                        END AS optout
                INTO snapshot_social
                FROM logins_day A
                LEFT JOIN logins_mobile B
                ON A.userid = B.userid
                LEFT JOIN logins_web C
                ON A.userid = C.userid
                LEFT JOIN logins_rank D
                ON A.userid = D.userid
                LEFT JOIN registrations F
                ON A.userid = F.userid                
                WHERE D.row_num = 1            
            """

query_commit = query_temp + query_join

In [16]:
# Commit changes
cursor.execute(query_commit, (ts,ts,ts,ts))
cursor.commit()

In [17]:
query_result = 'SELECT TOP 10 * FROM snapshot_social'

cursor.execute(query_result)
for record in cursor:
    print("{}, {}, {}, {}, {}, {}, {}".format(record[0], record[1], record[2], record[3],record[4],record[5], record[6]))

0, 2014-06-23 22:25:59, 2014-08-13 13:05:23, 3, 3, None, 0
1, 2013-12-21 20:11:02, 2014-08-12 20:49:22, 5, 2, 4, 0
2, 2014-04-18 10:05:11, 2014-08-14 08:20:00, 4, 4, 1, 0
3, 2013-12-17 16:01:59, 2014-08-13 19:59:38, 3, 2, 1, 0
4, 2014-08-11 19:22:32, 2014-08-09 05:10:07, 1, 1, None, 0
5, 2013-08-31 05:22:58, 2014-08-10 02:05:54, 1, 1, None, 0
6, 2013-08-18 10:09:28, 2014-08-12 18:44:34, 1, None, 1, 0
7, 2014-03-21 22:55:47, 2014-08-12 05:04:12, 2, 2, None, 0
8, 2014-05-03 01:48:29, 2014-08-11 23:50:14, 2, None, 2, 0
9, 2014-06-06 12:13:59, 2014-08-11 14:03:31, 1, 1, 1, 0

In [18]:
cursor.close()
cnxn.close()